# Ignore commonly ignored files/directories
node_modules
HELP.md
target/

# Ensure Maven wrapper jar is not ignored
!.mvn/wrapper/maven-wrapper.jar

# Ensure target directories in source and test directories are not ignored
!**/src/main/**/target/
!**/src/test/**/target/

# Ignore src/main/resources directory


# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Visual Studio Code
.vscode/
